/*Captain Kitty styling */
* {
  box-sizing: border-box;
}


body{
  background-image: url("https://media2.giphy.com/media/jtavDv8iqstY4/200.webp?cid=790b76119350d60c8aa2ac9aa0204365b90be0fe1df4fb3b&rid=200.webp");
}

.pic {
  border: 10px solid navy;
  width: 255px;
  margin: .05px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
}

main {
  width: 50rem;
  margin-right: 100px;
  padding: 1rem;
  }

.main-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.focus {
  transition: all 1s ease;
}

.focus:hover {
  border: 80px solid #4B0082;
  border-radius: 50%;
}

.headline {
  color: navy;
  font-family: 'Rye', cursive;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}

.format {
  font-family: 'Sunshiney', fantasy;
  font-weight: bold;
  color: navy;
  font-size: 25px;
}

.backing li:nth-child(even){
  background-color: #DA70D6;
}


.format-cool {
  font-family: 'Sunshiney', fantasy;
  font-weight: bold;
  color: #800080;
  font-size: 25px;
}


p[class$="cool"] {background-color: #3CB371;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}

h1 {
  border-style: groove;
  border-width: 20px;
  border-color: green;
  background-color: pink;
  }

h2 {
  color: slateblue;
  background-color: pink;
  text-align: center;
  }

h4 {
  font-family: Apple Chancery, cursive;
}

nav {
  border-style: solid;
  border-width: 5px;
  border-color: navy;
  background-color: aqua;
    }

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

h2 {
  color: maroon;
  text-transform: capitalize;
  border-style: double;
  border-width: 10px;
  border-color: green;

}


aside {
  width: 20rem;
  background-color: cyan;
  border-style: ridge;
  border-width: thick;
  border-color: tomato;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  }


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
    }

  /*sidepan*/

.sidpan img {
  margin-left: 0px;
  transition: margin 1s ease;
}

.sidepan img:hover {
  margin-left: -200px;
}

img {
  border-style: groove;
  border-width: 10px;
  border-color: navy;
}

/*mouse over link */
a:hover {
  color: lime;
}

/*visited link */
a:link {
  color: purple;
}

h4:hover {
  background-color: magenta;
}

.fa-facebook {
  color: blue;
  font-size: 30px;
}

.fa-twitter-square {
  color: blue;
  font-size: 30px;
}

/*social link transition*/

.grow-spin {
  transition: all 0.5s ease;
}
.grow-spin:hover {
  border-radius: 50%;
  font-weight: bold;
  font-size: 600%;
  transition-property: font-size;
  transition-duration: 5s;
  transform: rotate(360deg);
}

.fa-snapchat {
  color: blue;
  font-size: 30px;
}

.fa-instagram {
  color: blue;
  font-size: 30px;
}


footer {
  border-style: outset;
  border-width: 10px;
  border-color: navy;
  background-color: pink;
  display: flex;
  justify-content: center;
}
